[Unit]
Description=Kube Proxy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Environment=NAME=kube_proxy
Environment=IMAGE=nginx:latest
ExecStartPre=-/usr/bin/docker kill ${NAME}
ExecStartPre=-/usr/bin/docker rm ${NAME}
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart=/usr/bin/docker run --name ${NAME} -p 80:80 ${IMAGE}
ExecStop=/usr/bin/docker stop ${NAME}

[Install]
WantedBy=multi-user.target
